a {
  text-decoration: none;
}

form > input {
  margin-top: 10px;
}

@media (max-width: 375px) {
  form > input {
    margin-top: 7px;
  }
}

footer {
  background-color: white;
}

input {
  font-size: 16px;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
}
input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input:focus {
  border-bottom: 1px solid white;
  outline: none;
  box-shadow: none;
}
input::placeholder {
  color: white;
}

.app {
  text-align: center;
}

.wrapper {
  position: relative;
  background: url('./blya.jpg') no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 149.85%;
}

.form-shell {
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 15px;
  bottom: 0;
  right: 0;
  left: 0;
}

.submit-btn {
  margin-top: 10px;
  font-size: 16px;
  padding: 0 0 2px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}
.submit-btn:active {
  color: purple;
  border: none;
  outline: none;
  border-bottom: 1px solid purple;
}
.submit-btn:focus{
  color: purple;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid purple;
}

.policy {
  text-align: center;
  margin: 30px;
  font-size: 14px;
}

.code-link {
  color: black;
  text-decoration: underline;
}

.code-link:active {
  color: purple;
}

.credits {
  overflow: auto;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.gosha-link {
  margin: 5px;
  font-size: 14px;
  color: white;
}
.gosha-link:active {
  color: purple;
}





@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
