.app {
  text-align: center;
}

.wrapper {
  position: relative;
  background: url('./blya.jpg') no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 149.85%;
}

.form-shell {
  width: 50%;
  height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

form {
  padding-top: 5px;
  background-color: white;
}
form >input, button {
  margin-top: 10px;
}

input {
  border: none;
  border-bottom: 1px solid black;
}
footer, header {
  padding: 20px 0;
  background-color: #61dafb;
}

.submit-btn {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: none;
}
a {
  text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
